{% extends "base.tmpl" %}

{% block title %} Index - {{ block.super }} {% endblock %}

{% block nav-home %} class="active" {% endblock %}

{% block content %}

<div class="row">
  <div class="span12" align="right">
    <a href="/question/add" class="btn btn-small btn-primary"><i class="icon-plus"></i> Add Question</a>
  </div>
</div>
<div class="span12">&nbsp;</div>

{% include "question_list.tmpl" %}

{% endblock %}
